body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    background-color: antiquewhite;
}

div{
position: relative;
}

button {
    padding: 0.5rem;
    border-radius: 50px 50px;
    margin-left: 6.9rem;
    margin-top: 1rem;
    border: 1px solid black;
    transition: all 0.5s;
}

button:hover {
    scale: 1.1;
    box-shadow: 0.3rem 0.3rem 1rem grey;
}

img {
    border-radius: 1rem;
    width: 100%;
}

table {
    border: 1px solid black;
}

.precio_alojamiento {
    pointer-events: none; /* Deshabilita la interacción del mouse en el texto */
    position: absolute;
    text-shadow: 5px 5px 5px black;
    top: 30%;
    left: 5%;
    z-index: 1;
    font-size: x-large;
    color: yellow;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
}
.precio_alimentacion {
    pointer-events: none; /* Deshabilita la interacción del mouse en el texto */
    position: absolute;
    text-shadow: 5px 5px 5px black;
    top: 50%;
    left: 5%;
    z-index: 1;
    font-size: x-large;
    color: yellow;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
}